/* GLOBAL CSS */

.w-20 {
    width: 20%;
}

.w-30 {
    width: 30%;
}

.w-80 {
    width: 80%;
}

/* NAVBAR CSS */

.bg-navy {
    background-color: #1E202B;
}

.navbar {
    color: white;
}

.main {
    cursor: pointer;
}

.main-text p {
    font-size: 10px;
    font-weight: 300;
    line-height: 15px;
    color: rgb(191, 193, 200);
}

.navbar-nav .nav-link.active {
    color: #07A6DA !important;
    border: 2px solid #07A6DA !important;
    border-radius: 30px;
    padding: 2px 20px;
}

.navbar .container .navbar-nav .nav-link {
    color: white;
    border: 2px solid;
    border-color: transparent;
    border-radius: 30px;
    padding: 2px 20px;
    transition: all 0.3s;
}

.navbar .container .navbar-nav .nav-link:hover {
    color: #07A6DA;
    border-color: #07A6DA;
}

.navbar-nav {
    justify-content: space-around;
    width: 65%;
}

/* Search */

.search {
    background-image: url(../images/banner.png);
    background-size: cover;
    background-position: center;
    height: 350px;
}

#searchInput:focus {
    outline: none;
}

.search .container .search-content {
    position: relative;
}

.search-content button {
    position: absolute;
    top: 6%;
    right: 0.5%;
    padding: 12px 30px;
}

/* Weather  */

.inner {
    background-color: #323544;
}

.top-content {
    background-color: #2D303D;
}

.top-content h6 {
    font-size: 14px;
    font-weight: 400;
    line-height: 21px;
    color: rgb(191, 193, 200);
}
.city{
    font-size: 18px;
    font-weight: 400;
    line-height: 27px;
    color: rgb(191, 193, 200);
}
.degree{
    font-size: 90px;
    font-weight: 700;
    line-height: 135px;
}

.weather-info p{
    color: rgb(0, 154, 216);
}

.weather-bottom-content .special{
    padding-inline: 20px;
    color: #8E8F94;
}
.weather-bottom-content .special span{
    color: #80828D;
}
.inner-middile{
    background-color: #262936;
}
.inner-middile .top-content{
    background-color: #222530;
}
.high-degree{
    font-size: 24px;
    font-weight: 700;
    line-height: 36px;
}
.small-degree{
    font-size: 16px;
    font-weight: 300;
    line-height: 24px;
    color: rgb(191, 193, 200);
}

.weather-table{
    margin-top: -150px;
    padding-bottom: 50px;
}


/* Footer */

footer{
    background-color: #262936;
}
footer .container .search-content {
    position: relative;
}

.links span i{
    font-size: 20px;
    line-height: 20px;
    font-weight: 400;
}
.links span{
    background-color: #1E202B;
    color: #07A6DA;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-inline: 5px;
    transition: all 0.4s
}

.links span:hover{
    background-color: #07A6DA;
    color: white;
}

#emailInput:focus{
    outline: none;
}